.root {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background: transparent;
}


.button {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-width: 134px;
    -fx-background-color: rgba(247, 247, 247, 0.3);
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: rgba(91, 200, 175, 0.6);
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-background-color: rgba(91, 200, 175, 0.8);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.button2:hover {
    -fx-background-color: rgba(108, 145, 191, 0.6);
    -fx-text-fill: #ffffff;
}

.button2:focused {
    -fx-background-color: rgba(108, 145, 191, 0.8);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.button3:hover {
    -fx-background-color: rgba(161, 78, 191, 0.6);
    -fx-text-fill: #ffffff;
}

.button3:focused {
    -fx-background-color: rgba(161, 78, 191, 0.8);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}
.label2{
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field1 {
    -fx-border-color: #5BC8AF;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0 ;
    -fx-text-fill: #ffffff;
}
.text-field1:focused {
    -fx-background-color: transparent ;
    -fx-border-color: #5BC8AF;
    -fx-border-width: 0 0 2 0;
}

.text-field2 {
    -fx-border-color: #a14ebfff;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0 ;
    -fx-text-fill: #ffffff;
}
.text-field2:focused {
    -fx-background-color: transparent ;
    -fx-border-color: #a14ebfff;
    -fx-border-width: 0 0 2 0;
}

.text-field3 {
    -fx-border-color: #6c91bfff;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0 ;
    -fx-text-fill: #ffffff;
}
.text-field3:focused {
    -fx-background-color: transparent ;
    -fx-border-color: #6c91bfff;
    -fx-border-width: 0 0 2 0;
}

/* CSS HEX */
/*--dark-orchid: #af2bbfff;*/
/*--purple-plum: #a14ebfff;*/
/*--blue-gray: #6c91bfff;*/
/*--verdigris: #5fb0b7ff;*/
/*--ocean-green: #5bc8afff; */