.root {
    -fx-background-image: url("../Images/dashboardbkg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.VBox {
    -fx-spacing: 30;
    -fx-padding: 8;
}

.grid {
    -fx-background: transparent;
}

.pane {
    -fx-background: transparent;
    -fx-spacing: 30;
    -fx-padding: 8;
}

#signUp {
    -fx-font-size: 28px;
    -fx-font-weight: normal;
    -fx-font-family: "Arial Black";
    -fx-fill: #6d3684;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.button {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    /*-fx-white-space: normal; //TODO fix whitespace*/
    -fx-width: 134px;
}

.button:hover {
    -fx-background-color: rgba(247, 247, 247, 0.3);
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-background-color: rgba(94, 94, 94, 0.3);
    -fx-text-fill: #5fb0b7ff;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.radio-button{
    -fx-text-fill: #6d3684;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.text-field {
    -fx-border-color: #6d3684;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: transparent ;
    -fx-border-color: #6d3684;
    -fx-border-width: 0 0 1 0;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}


#signUp:hover{
    -fx-underline: true;
}

/* CSS HEX */
/*--dark-orchid: #af2bbfff;*/
/*--purple-plum: #a14ebfff;*/
/*--blue-gray: #6c91bfff;*/
/*--verdigris: #5fb0b7ff;*/
/*--dark-grey: #5e5e5e;*/
/*--off-white: #f7f7f7;*/
/*--ocean-green: #5bc8afff; */
