.root {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background: rgba(247, 247, 247, 0.3);
}

.button {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(94, 94, 94, 0.3);
    -fx-width: 134px;
    -fx-border-radius: 10px;
}

.button:hover {
    -fx-background-color: rgba(94, 94, 94, 0.6);
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
}

.button:focused {
    -fx-background-color: rgba(95, 176, 183, 0.8);
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.radio-button{
    -fx-text-fill: #6d3684;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}


/* CSS HEX */
/*--dark-orchid: #af2bbfff;*/
/*--purple-plum: #a14ebfff;*/
/*--blue-gray: #6c91bfff;*/
/*--verdigris: #5fb0b7ff;*/
/*--ocean-green: #5bc8afff; */