.root {
    -fx-background-image: url("./Images/bg.jpg");
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#welcome {
    -fx-font-size: 32px;
    -fx-font-weight: normal;
    -fx-font-family: "Arial Black";
    -fx-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#prompt {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: linear-gradient(whitesmoke, lightgrey);
}

#signUp{
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#signUp:hover{
    -fx-underline: true;
}