.root {
    -fx-background-image: url("./Images/welcomebkg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #0b718f;
}

#welcome {
    -fx-font-size: 32px;
    -fx-font-weight: normal;
    -fx-font-family: "Arial Black";
    -fx-fill: #0c637d;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#prompt {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: #064659;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: linear-gradient(whitesmoke, lightgrey);
}

#signUp{
    -fx-text-fill: #064659;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#signUp:hover{
    -fx-underline: true;
}

.text-field {
    -fx-border-color: #5bc8afff;
    -fx-border-width: 0 0 1.5 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: transparent ;
}