.root {
    -fx-background-image: url("./Images/welcomebkg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #f7f7f7;
}

#welcome {
    -fx-font-size: 60px;
    -fx-font-weight: normal;
    -fx-font-family: "Arial Black";
    -fx-fill: #f7f7f7;
}
#prompt {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: #6c91bfff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color: #f7f7f7;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: linear-gradient(#f7f7f7, #cecece);
}

#signUp{
    -fx-text-fill: #f7f7f7;
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#signUp:hover{
    -fx-underline: true;
}

.text-field {
    -fx-border-color: #f7f7f7;
    -fx-border-width: 0 0 1.25 0;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: transparent ;
    -fx-border-color: #f7f7f7;
    -fx-border-width: 0 0 1.25 0;
    -fx-font-size: 18px;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

/* CSS HEX */
/*--dark-orchid: #af2bbfff;*/
/*--purple-plum: #a14ebfff;*/
/*--blue-gray: #6c91bfff;*/
/*--verdigris: #5fb0b7ff;*/
/*--ocean-green: #5bc8afff; */