.root {
    -fx-background-image: url("../Images/bg1.jpg");
}

.button {
    -fx-background-color: white;
    -fx-font-size: 24px;
    -fx-text-fill: #0b718f;
    -fx-font-family: "Arial";
}

.button:hover {
    -fx-background-color: linear-gradient(white, whitesmoke);
}